/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.the-header {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.75);
}
